<!-- profile.component.html -->

@if (profileData.id) {
  <nb-card>
    <nb-card-header>
      <div class="row">
        <div class="col-md-12">
          <div class="d-flex justify-content-between">
            <h3 class="mt-2">ServiceProvider Details</h3>
            @if (!isApproved) {
              <div class="row">
                <button
                  nbButton
                  size="tiny"
                  class="mr-2"
                  type="button"
                  (click)="onApprove()"
                  status="success"
                  >
                  Approve
                </button>
                <!-- <button nbButton size="tiny" type="button" (click)="abc()" status="danger">
                Disapprove
              </button> -->
            </div>
          }
        </div>
      </div>
    </div>
  </nb-card-header>
  <nb-card-body>
    <div class="profile-container">
      <div class="profile-header p-3">
        <div class="row">
          @if (profileData.profilePicture) {
            <div class="custom-avatar">
              <img [src]="imageUrl + profileData.profilePicture" alt="" />
            </div>
          }
          <div class="ServiceProvider-info ml-4">
            <h1 style="margin: 5px">
              {{ profileData.user.firstName }} {{ profileData.user.lastName }}
            </h1>
            <p>{{ profileData.bio }}</p>
          </div>
        </div>
      </div>
      <div class="profile-details">
        <div class="ServiceProvider-details">
          <div class="row mt-4">
            <div class="col-md-6">
              <p><strong>Email:</strong> {{ profileData.user.email }}</p>
              <p>
                <strong>Phone Number:</strong>
                {{ profileData.user.phoneNumber }}
              </p>
            </div>
            <div class="col-md-6">
              <p><strong>Gender:</strong> {{ profileData.gender }}</p>
              <p>
                <strong>Date of Birth:</strong>
                {{ profileData.dateOfBirth | date : "shortDate" }}
              </p>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col-md-6">
              <p>
                <strong>Business Address:</strong>
                {{ profileData.businessAddress }}
              </p>
              <p>
                <strong>Business Phone Number:</strong>
                {{ profileData.businessPhoneNumber }}
              </p>
            </div>
            <div class="col-md-6">
              <p>
                <strong>Street Address:</strong> {{ profileData.streetAddress }}
              </p>
              <p><strong>City:</strong> {{ profileData.city }}</p>
            </div>
          </div>
          <div class="row mt-4">
            <p class="col-md-6">
              <strong>State:</strong> {{ profileData.state }}
            </p>
            <p class="col-md-6"><strong>Zip:</strong> {{ profileData.zip }}</p>
          </div>
          <!-- Add more ServiceProvider details as needed -->
          <div class="row border-top p-3">
            <div class="col-md-6">
              <h2>Qualifications</h2>
              @for (qualification of profileData.qualifications; track qualification) {
                <div>
                  <p><strong>Name:</strong> {{ qualification.name }}</p>
                  <p>
                    <strong>Institution:</strong>
                    {{ qualification.institutionName }}
                  </p>
                  <p>
                    <strong>Year:</strong>
                    {{ qualification.procurementYear | date : "shortDate" }}
                  </p>
                </div>
              }
            </div>
            <div class="col-md-6">
              <h2>Insurance</h2>
              <p>
                <strong>Insurance Type:</strong>
                {{ profileData.insurance?.insuranceType }}
              </p>
              <p>
                <strong>Coverage Details:</strong>
                {{ profileData.insurance?.coverageDetails }}
              </p>
              <p>
                <strong>Start Date:</strong>
                {{ profileData.insurance?.startDate | date : "shortDate" }}
              </p>
              <p>
                <strong>Expiry Date:</strong>
                {{ profileData.insurance?.expiryDate | date : "shortDate" }}
              </p>
              <p>
                <strong>Insurance Provider Name:</strong>
                {{ profileData.insurance?.insuranceProviderName }}
              </p>
              <p>
                <strong>Policy Number:</strong>
                {{ profileData.insurance?.policyNumber }}
              </p>
              <p>
                <strong>Coverage Limit:</strong>
                {{ profileData.insurance?.coverageLimit | currency }}
              </p>
              <p>
                <strong>Deductible:</strong>
                {{ profileData.insurance?.deductible | currency }}
              </p>
            </div>
          </div>
          <div class="row border-top p-3">
            <div class="col-md-6">
              <h2>ServiceProvider Therapies</h2>
              @for (therapy of profileData.serviceProviderTherapies; track therapy) {
                <div>
                  <p>{{ therapy.therapyName }}</p>
                </div>
              }
            </div>
            <div class="col-md-6">
              <h2>License Information</h2>
              <p>
                <strong>Board:</strong>
                {{ profileData.serviceProviderLicense?.board }}
              </p>
              <p>
                <strong>License Number:</strong>
                {{ profileData.serviceProviderLicense?.number }}
              </p>
              <p>
                <strong>Issue Date:</strong>
                {{
                profileData.serviceProviderLicense?.issueDate
                | date : "shortDate"
                }}
              </p>
              <p>
                <strong>Expiry Date:</strong>
                {{
                profileData.serviceProviderLicense?.expiryDate
                | date : "shortDate"
                }}
              </p>
              <p><strong>Front Image:</strong></p>
              @if (profileData.serviceProviderLicense?.frontImage) {
                <img
                  class="custom-rectangular"
                [src]="
                  imageUrl + profileData.serviceProviderLicense?.frontImage
                "
                  height="200px"
                  alt=""
                  />
              }
              <p><strong>Back Image:</strong></p>
              @if (profileData.serviceProviderLicense?.backImage) {
                <img
                  class="custom-rectangular"
                  [src]="imageUrl + profileData.serviceProviderLicense?.backImage"
                  height="200px"
                  alt=""
                  />
              }
            </div>
          </div>
          <!-- Add more license details as needed -->
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>
}
