<!-- dashboard.component.html -->
<div class="dashboard-container">
  <nb-card>
    <nb-card-header>ServiceProviders</nb-card-header>
    <nb-card-body class="count-box">
      <div class="count">{{ totalServiceProviders }}</div>
    </nb-card-body>
  </nb-card>

  <nb-card>
    <nb-card-header>Customers</nb-card-header>
    <nb-card-body class="count-box">
      <div class="count">{{ totalCustomers }}</div>
    </nb-card-body>
  </nb-card>

  <nb-card>
    <nb-card-header>Active Orders</nb-card-header>
    <nb-card-body class="count-box">
      <div class="count">{{ totalOrders }}</div>
    </nb-card-body>
  </nb-card>
</div>
