<div class="row border-top p-3">
  <div class="col-md-12">
    <h2>Orders</h2>
    <nb-tabset>
      <nb-tab tabTitle="InProgress">
        @if (inProgressOrders.length > 0) {
          <div>
            @for (order of inProgressOrders; track order) {
              <div
                class="order-card mb-3 p-3 border rounded"
                >
                @if (order?.service) {
                  <p>
                    <strong>Service:</strong> {{ order?.service?.name }}
                  </p>
                }
                <p>
                  <strong>Total Price:</strong> {{ order.totalPrice | currency }}
                </p>
                <p><strong>Description:</strong> {{ order.description }}</p>
                <p>
                  <strong>Start Date:</strong>
                  {{ order.startDate | date : "shortDate" }}
                </p>
                <p>
                  <strong>End Date:</strong>
                  {{ order.endDate | date : "shortDate" }}
                </p>
                @if (order.milestones?.length > 0) {
                  <div class="mt-4">
                    <h5>Milestones</h5>
                    @for (milestone of order.milestones; track milestone) {
                      <div
                        class="milestone-card p-2 border rounded mb-2"
                        >
                        <p><strong>Price:</strong> {{ milestone.price | currency }}</p>
                        <p>
                          <strong>Start Date:</strong>
                          {{ milestone.startDate | date : "shortDate" }}
                        </p>
                        <p>
                          <strong>End Date:</strong>
                          {{ milestone.endDate | date : "shortDate" }}
                        </p>
                      </div>
                    }
                  </div>
                }
              </div>
            }
          </div>
        } @else {
          <p>No in-progress orders found.</p>
        }
      </nb-tab>
      <nb-tab tabTitle="Completed">
        @if (completedOrders.length > 0) {
          <div>
            @for (order of completedOrders; track order) {
              <div
                class="order-card mb-3 p-3 border rounded"
                >
                @if (order?.service) {
                  <p>
                    <strong>Service:</strong> {{ order?.service?.name }}
                  </p>
                }
                <p>
                  <strong>Total Price:</strong> {{ order.totalPrice | currency }}
                </p>
                <p><strong>Description:</strong> {{ order.description }}</p>
                <p>
                  <strong>Start Date:</strong>
                  {{ order.startDate | date : "shortDate" }}
                </p>
                <p>
                  <strong>End Date:</strong>
                  {{ order.endDate | date : "shortDate" }}
                </p>
                @if (order.milestones?.length > 0) {
                  <div class="mt-4">
                    <h5>Milestones</h5>
                    @for (milestone of order.milestones; track milestone) {
                      <div
                        class="milestone-card p-2 border rounded mb-2"
                        >
                        <p><strong>Price:</strong> {{ milestone.price | currency }}</p>
                        <p>
                          <strong>Start Date:</strong>
                          {{ milestone.startDate | date : "shortDate" }}
                        </p>
                        <p>
                          <strong>End Date:</strong>
                          {{ milestone.endDate | date : "shortDate" }}
                        </p>
                      </div>
                    }
                  </div>
                }
              </div>
            }
          </div>
        } @else {
          <p>No completed orders found.</p>
        }
      </nb-tab>
    </nb-tabset>
  </div>
</div>
